<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.powerrangers.system.modules.eventManagement.dao.EventMapper">

    <sql id="event_name">
        <if test="eventName != null and eventName.length() > 0">
            where host_id = #{hostId} and event_name = #{eventName};
        </if>
    </sql>

    <insert id="createEvent" parameterType="com.powerrangers.system.modules.eventManagement.service.dto.SmallEventDTO">
        insert into sys_event (host_id, event_name, event_type, site_name,
                               start_time, end_time, is_displayed, image, description)
        values (#{hostId}, #{eventName}, #{eventType}, #{siteName},
                #{startTime}, #{endTime}, #{isDisplayed}, #{image}, #{description});
    </insert>

    <select id="checkExist" parameterType="com.powerrangers.system.modules.eventManagement.service.dto.EventModifyDTO"
            resultType="Integer">
        select count(*) from sys_event
        <include refid="event_name"/>;
    </select>

    <select id="updateEventName" parameterType="com.powerrangers.system.modules.eventManagement.service.dto.EventModifyDTO">
        update sys_event set event_name = #{newString}
        <include refid="event_name"/>;
    </select>

    <select id="updateEventTime" parameterType="com.powerrangers.system.modules.eventManagement.service.dto.EventModifyDTO">
        update sys_event set start_time = #{newStartTime}, end_time = #{newEndTime}
        <include refid="event_name"/>;
    </select>

    <select id="updateEventDescription" parameterType="com.powerrangers.system.modules.eventManagement.service.dto.EventModifyDTO">
        update sys_event set description = #{newString}
        <include refid="event_name"/>;
    </select>

    <select id="updateEventAddress" parameterType="com.powerrangers.system.modules.eventManagement.service.dto.EventModifyDTO">
        update sys_event set site_name = #{newString}, site_description = #{secondNewString}
        <include refid="event_name"/>;
    </select>

    <select id="updateEventType" parameterType="com.powerrangers.system.modules.eventManagement.service.dto.EventModifyDTO">
        update sys_event set event_type = #{newInteger}
        <include refid="event_name"/>;
    </select>

</mapper>