<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.powerrangers.system.modules.UserAccess.dao.UserMapper">

    <select id="checkExist" parameterType="com.powerrangers.system.modules.UserAccess.service.dto.SmallUserDTO"
            resultType="Integer">
        select count(*)
        from sys_user
        where username = #{userName} or email = #{email};
    </select>

    <insert id="addUser" parameterType="com.powerrangers.system.modules.UserAccess.service.dto.SmallUserDTO"
            useGeneratedKeys="true">
        insert into sys_user
            (username, email, password, is_received, avatar, is_auth)
        values (#{userName}, #{email}, #{password}, #{isReceived}, #{avatar}, 1)

    </insert>

    <select id="queryUser" parameterType="com.powerrangers.system.modules.UserAccess.service.dto.SmallUserDTO"
            resultType="com.powerrangers.system.modules.UserAccess.service.dto.UserDTO">
        select * from sys_user where username = #{userName};
    </select>

    <select id="resetPassword">
        update sys_user set password = #{password}
                        where email = #{email};
    </select>
    
    <select id="getUserIdByUserName" parameterType="string" resultType="integer">
        select id from sys_user where username = #{userName};
    </select>

    <select id="queryEvent" parameterType="com.powerrangers.system.modules.UserAccess.service.dto.EmailDTO"
            resultType="com.powerrangers.system.modules.UserAccess.service.dto.EventInfoDTO">
    select location, site_description, start_time from sys_event where event_id in
    (select event_id from event_customer where customer_id = (select id from sys_user where username = #{userName}))
    and event_name = #{eventName};
    </select>
</mapper>